<h3>Book Form</h3>

<form action="/copies" method="post">
  <div class="form-group">
    <label for='title'>Title:</label>
    <input id="title" name="title" type="text">
  </div>

  <button type="submit">Add Copy</button>
</form>
