<h3>Patron Form</h3>

<form action="/patrons" method="post">
  <div class="form-group">
    <label for='name'>Patron:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Get Library Card</button>
</form>
